.box{
    width: 200px;
    height: 200px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.box:hover{
    background-color: blue;
    transition: all ease-in;
}

h1{
    color: aliceblue;
}