*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 80px;
    background-color: gray;
    display: flex; 
    justify-content: center; 
    align-items: center;
    position: fixed;
    top: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    position: relative;
}

a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: white;
    transition: 0.3s;
}

a:hover::after{
    width: 100%;
}

#s1{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s2{
    width: 100%;
    height: 100vh;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s3{
    width: 100%;
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}